body{
	background-color: #F9E4B7;
	font-family: "Courier New";
}

header{
	text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

h3{
	color:white;
	font-family: "Courier New";
	font-size: 16px;
	font-weight: normal;
}

#sectionAccueil{
	height: 100vh;
}

.legende{
	font-style: italic;
	font-size: 18px;
	color:#333333;
}

#conteneur1{	/* MENU DE NAVIGATION ICONE (ACCUEIL) */
	display: flex;
	justify-content: center;
	margin-top: 250px;
	flex-wrap: wrap;
	font-size: 20px;
}
	
.box{	/* ICONE INDIVIDUELLES (ACCUEIL) */
	margin-left: 20px;
}

.box:hover img{
	transform:scale(1.1);    /* Effet de zoom */
	transition: 0.6s;		/* Vitesse de transition zoom */
}

#fleche1{
	display: flex;
	flex-wrap: wrap;
	margin-top: 300px;
	justify-content: center;
}

#fleche1:hover img{
	transform:scale(1.15);  
	transition: 0.6s;		
}

.logo{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: -135px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

.retourAccueil{
	display: flex;
	flex-wrap: wrap;
	margin-top: 50px;
	text-align: center;
}

.retourAccueil:hover img{
	transform:scale(1.1);
	transition: 0.6s;
}
/*------------------------------ SECTION QUI SUIS-JE ------------------------------*/
#sectionQuiSuis-je{
	height: 100vh;
}
#presentation{
	display: flex;
	justify-content: center;
}

#presentation p{
	display: flex;
	text-align: left;
	margin: auto;
	padding: 100px;
	font-size: 20px;
}

#photoEmre{
	margin-right: 100px;
	margin-top: 50px;
}

#fleche2{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#fleche2:hover img{
	transform:scale(1.15);  
	transition: 0.6s;		
}

#télécharger{
	display: flex;
	justify-content: left;
	text-align: center;	
}

#télécharger:hover img{
	transform:scale(1.15);  
	transition: 0.6s;		
}

/*------------------------------ SECTION MES COMPETENCES ------------------------------*/

#sectionMesCompétences{
	height: 100vh;
}

#conteneur2{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	margin-left: 15%;
	margin-top: 100px;
}	

.langageProgrammation{
	display: flex;
	flex-wrap: wrap;
}

#barrePython{
	margin-top: 30px;
	margin-left: 50px;
	width: 600px;
	height: 40px;
	background-color: #58D68D;
	opacity: 0.5;
	border: 2px green solid;
}

#barreSQL{
	margin-top: 30px;
	margin-left: 50px;
	width: 400px;
	height: 40px;
	background-color: #58D68D;
	opacity: 0.5;
	border: 2px green solid;
}

#barreHTML{
	margin-top: 30px;
	margin-left: 50px;
	width: 900px;
	height: 40px;
	background-color: #58D68D;
	opacity: 0.5;
	border: 2px green solid;
}

#barreCSS{
	margin-top: 30px;
	margin-left: 50px;
	width: 500px;
	height: 40px;
	background-color: #58D68D;
	opacity: 0.5;
	border: 2px green solid;
}

#fleche3{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 100px;
}

#fleche3:hover img{
	transform:scale(1.15);  
	transition: 0.6s;		
}

/*------------------------------ SECTION MES PROJETS------------------------------*/
#sectionMesProjets{
	height: 100vh;
}

#conteneur3{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-right: 80px;  /* Les 3 jeux n'était pas alignée au milieu */
	text-align: center;
	font-size: 20px;
	margin-top: 50px;
	margin-bottom: 10px;
	margin-left: 30px;
}

#texteGitHub{    /* L'alignement du texte sur GitHub n'était pas centré en raison de la taille de l'image" */
	margin-bottom: 80px;
	margin-right: 20px;
}


#pendu:hover img{
	transform:scale(1.15);  
	transition: 0.6s;		
}
#pfc:hover img{
	transform:scale(1.15);  
	transition: 0.6s;		
}
#GitHub:hover img{
	transform:scale(1.15);  
	transition: 0.6s;		
}

#fleche4{
	display: flex;
	flex-wrap: wrap;
	justify-content:center; ;
	margin-top: 0px;
}

#fleche4:hover img{
	transform:scale(1.15);  
	transition: 0.6s;		
}

/*------------------------------ SECTION MON PARCOURS------------------------------*/
#sectionMonParcours{
	height: 100vh;
}

#conteneur4{ /*CCI Campus + SCHMIDT GROUPE */
	display: flex;
	align-items: center;
	margin-right: 80px;  
	text-align: center;
	font-size: 20px;
	margin-top: 50px;
	margin-bottom: 10px;
	margin-left: 120px;
	flex-wrap:wrap;
}

#cci{
	margin-left: 120px;
}

#descriptionCCI{    /* Resolution image n'est pas la même */
	float:right; 
	margin-left: 30px;    /* Espace entre logo et description */
	margin-top: -30px;	  /* Alignement avec le logo en hauteur */
	text-align: justify;
}
#cci:hover {
	transform:scale(1.15);  
	transition: 0.6s;		
}


#schmidt{
	margin-top: -80px;
	margin-left:260px;
}
#descriptionSchmidt{
	float:right; 
	margin-left: -130px;    /* Espace entre logo et description */
	margin-top: 90px;	  /* Alignement avec le logo en hauteur */
	text-align: justify;
}
#schmidt:hover {
	transform:scale(1.15);  
	transition: 0.6s;		
}

#conteneur5{ /* IFPASS + AG2R */
	display: flex;
	align-items: center;
	margin-right: 80px;
	text-align: center;
	font-size: 20px;
	margin-top: 50px;
	margin-bottom: 10px;
	margin-left: 120px;
	flex-wrap:wrap;
}

#ifpass{
	margin-left: 70px;
}
#descriptionIFPASS{    /* Resolution image n'est pas la même */
	float:right; 
	margin-left: 30px;    /* Espace entre logo et description */
	margin-top: -30px;	  /* Alignement avec le logo en hauteur */
	text-align: justify;
}
#ifpass:hover {
	transform:scale(1.15);  
	transition: 0.6s;		
}


#AG2R{
	margin-top: -10px;
	margin-left: 400px;
}
#descriptionAG2R{
	float:right; 
	margin-left: 30px;    /* Espace entre logo et description */
	margin-top: -30px;	  /* Alignement avec le logo en hauteur */
	text-align: justify;
}
#AG2R:hover {
	transform:scale(1.15);  
	transition: 0.6s;		
}

/*------------------------------ SECTION VEILLES------------------------------*/
#sectionVeilles{
	height: 100vh;
}

#conteneur6{
	display: flex;
	justify-content: space-around;
	margin-top: 100px;
	flex-wrap: wrap;
}

#conteneur7{
	display: flex;
	justify-content: space-around;
	margin-top: 100px;
	margin-bottom: 100px;
	flex-wrap: wrap;
}

.bloc{
	display: flex;
	width: 400px;
	height: 160px;
	background-color: #A9A9A9;
	text-align: center;
	justify-content: center;
}

.bloc:hover {
	transform:scale(1.15);  
	transition: 0.6s;		
}